# lua.snippets - Snippets for lua file type

snippet _skel "default" b
local _M = {}

$0

return _M
endsnippet

snippet _module "lua module" b

local _M = {}

function _M.${1:Function Name}()
  $0
end

return _M
endsnippet

snippet forp "pair for loop" b
for ${1:name},${2:val} in pairs(${3:table_name}) do
  $0
end
endsnippet

snippet fori "ipair for foop" b
for ${1:idx},${2:val} in ipairs(${3:table_name}) do
  $0
end

endsnippet
