[Unit]
Description=Get my stock quotes
RefuseManualStart=no
#I can manually start the timer
RefuseManualStop=no
#I can manually stop the timer

[Timer]
Persistent=false
# when it is true systemd stores when the timer was last run and when the machine
# boots up after a long time, it will automatically catch up onto this timer if it
# should have run in the meantime
OnBootSec=360
#how many seconds after the boot should it run the first time
# https://www.freedesktop.org/software/systemd/man/systemd.time.html#
# Mon *-*-* 00:00:00 Pacific/Auckland
OnCalendar=weekly Pacific/Auckland
Unit=stockQuote.service

[Install]
WantedBy=timers.target
